* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 50%;
  margin: 20px auto;
  height: 500px;
  background-color: red;
}

/* responsive design */
/* breakpoint */
@media screen and (max-width: 1000px) {
  .box {
    background-color: blue;
  }
}

@media screen and (max-width: 700px) {
  .box {
    background-color: green;
  }
}
