header {
  height: 60px;
  background-color: $header-bgc;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &__left__side {
      height: 100%;
      .apps {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 12px;
        img {
          width: 60px;
          height: 60px;
        }
        span {
          color: white;
          opacity: 0.5;
          margin-left: 12px;
        }
      }
    }
    &__right__side {
      ul.links {
        display: flex;
        align-items: center;
        column-gap: 14px;
        li {
          font-size: 0.9em;
          a {
            color: white;
            opacity: 0.5;
          }
        }
        img {
          width: 30px;
          opacity: 1;
        }
      }
    }
  }
  @include respond-to("medium") {
    display: none;
  }
}
